h1{
  border: solid 4px #000000;
  background-color: teal;
  text-align: center;
}

h2 {
  font-style: comic-sans;
  text-align: center;
}

p {
  border: solid 2px #000000;
}

pre {
  border: dotted 2px #3f3f3f;
}
