html {
  background-color: #F6FEFF;
}

h1, h2, h3{
  color: indigo;
  font-family: monospace;
}

p, .script {
  color: #E366B1;
  font-family: monospace;
  font-weight: bold;
}

img {
  border: solid 10px pink;
  border-radius: 20px;
}

.list {
  color: indigo;
  font-family: monospace;
  font-weight: bold;
}

#intro {
  background-color: #E6E6FA;
  padding: 20px;
  margin: 10px;
  border: solid 1px purple;
  border-radius: 20px;
}

#my_portrait {
  width: 100px;
}

#my_img {
  width: 100px;
}
