html {
  background-color: #F6FEFF;
}

h1, h2{
  color: indigo;
  font-family: monospace;
}

p {
  color: pink;
  font-family: monospace;
  font-weight: bold;
}

img {
  border: solid 10px pink;
  border-radius: 20px;
}

.list {
  color: indigo;
  font-family: monospace;
  font-weight: bold;
}

#intro {
  background-color: #d8a3e4;
  padding: 20px;
  margin: 10px;
  border: solid 1px purple;
  border-radius: 20px;
}

#my_portrait {
  width: 100px;
}

#my_img {
  width: 100px;
}
